body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #303030;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
  color: #e7e7e7;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signup {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signup .form-signup-heading,
.form-signup .checkbox {
  margin-bottom: 10px;
  color: #e7e7e7;
}
.form-signup .checkbox {
  font-weight: normal;
}
.form-signup .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signup .form-control:focus {
  z-index: 2;
}


.border {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 0.8em;

}

.no-border{
  border-radius: 0px;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
     font-size: 24px;
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.jumbotron{
  text-align: center;
}
.logo{
  height: 90%;
  padding: 0px;
  padding-bottom: 10px;
  margin: 0px;
  vertical-align: middle;

}

@media (min-width: 700px){
.navbar-brand,
.navbar-nav li a {
    line-height: 70px;
    height: 70px;
    padding: 0px;
}
    .jumbotron{
  text-align: center;
height: 300px;
}

h1{
  line-height: 2;
  }


  .logo{
    height: 100%;
    padding-bottom: 0px;
  }
}


@media (max-width: 450px){

  .logo{
    height: 100%;
padding-bottom: 0px;

  }

 .navbar-brand,
.navbar-nav li a {
    line-height: 50px;
    height: 50px;
    padding: 0px;
  }
}

